@charset "UTF-8";

@font-face {
  font-family: Ancizar Sans-regular;
  src: url('../fonts/Ancizar Sans-Regular.otf');
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

/* 
  * The position attribute assign with the value relative 
   is used to be able to put text over the banner image.
  * vm relative length is used to do responsive container
*/
.banner-image {
    position: relative;
    width: 90vw;
    height: 24vw;
    background-image: url(../img/banner.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.shield {
  width: 100px;
  height: 120px;
  background-image: url(../img/escudo.png);
  background-size: cover;
}
.banner-title h1{
  color: white;
  font-family: Ancizar Sans-regular;
}

.banner-title h2{
    color: white;
    font-family: Ancizar Sans-regular;
  }

.logos {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  justify-content: center;
  align-items: center;
}

/*
  * nav bar style
*/
.nav-bar ul {
  display: flex;
  justify-content: space-evenly;
  width: 90vw;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  background-color: #666;
}

.nav-bar li {
  font-size: large;
}

.nav-bar li a {
  font-family: Ancizar Sans-regular;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to black on hover */
.nav-bar li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

/*
 * content style 
*/
.content {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  height: 400px;
}

.image1{
  background-image: url(../img/description1.jpg);
}

.image2{
  background-image: url(../img/description2.jpg);
}

.image3{
  background-image: url(../img/description3.jpg);
}

.image-description{
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;

}

.description{
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0;
  height: 100%;
  
}

.description p{ 
  padding: 10% 5% 5% 5%; 
  font-family: Ancizar Sans-regular;
  font-size: x-large;
}

.description:hover {
  opacity: 0.9;
}

/*
  * Change behaviour when the screen width is less than 800px 
*/
@media (max-width: 800px) {
  .logos {
    flex-direction: column; 
  }

  .banner-image {
    position: relative;
    width: 90vw;
    height: 60vw;
    background-repeat: repeat-x;
    background-size:auto;
  }

  .banner-title h1{
    color: black;
  }
  
  .banner-title h2{
      color: black;
    }

    .description p{ 
      font-size: small;
    }
}